@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-main: #ee1a68;
  --color-secondary : #dc799d;
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'Fira Code', monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}